.title {
  margin-top: 2%;
  text-align: center;
  vertical-align: middle;
  transition:all 0.3s ease 9999s;
}

.title:hover {
  transform: translateY(-100px);
  transition-delay: 0s;
}

.title:hover .image-hovered {
  display: block;
}

.title p {
  justify-content: center;
  align-items: center;
  color: #c13235;
  font-family: 'Leckerli One', cursive;
  font-size: 100px;
}

.image-hovered {
  display: none;
}

#bg {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}
