{% load staticfiles %}
<html>
    <head>
        <title>Zorionak!</title>
        <link rel="stylesheet" href="{% static 'css/zorionak.css' %}">
        <script src="{% static 'javascript/jquery-3.1.1.js' %}"></script>
        <script src="{% static 'javascript/rango-jquery.js' %}"></script>
        <link href="https://fonts.googleapis.com/css?family=Give+You+Glory|Leckerli+One" rel="stylesheet">
    </head>
    <body>
      <img src="static/images/back.jpg" id="bg" alt="">
      <div class="title">
        <audio src="static/music/dondevas.mp3" autoplay>
        </audio>
        <p>Zorionak mocito!</p>
        <div class="image-hovered">
          <img src="static/images/us.png" alt="">
        </div>
      </div>
    </body>
</html>
