{% load staticfiles %}
<html>
    <head>
        <title>Zorionak!</title>
        <link rel="stylesheet" href="{% static 'css/zorionak.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Give+You+Glory|Leckerli+One" rel="stylesheet">
    </head>
    <body>
      <img src="static/images/back.jpg" id="bg" alt="">
      <div class="title">
        <audio src="static/music/music.mp3" autoplay>
        </audio>
        <p>Prueba prueba!</p>
        <div class="image-hovered">
          <img src="static/images/us.png" alt="">
        </div>
      </div>
    </body>
</html>
